<h1> All routes </h1>
<div class="container alert alert-danger" *ngIf="errorMessage">
{{errorMessage}}
</div>
<div class="container">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Participants</th>
        <th>Sign up</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of routes">
        <td>{{route.title}}</td>
        <td>{{route.date | date:'medium'}}</td>
        <td>{{route.numberOfParticipants}}</td>
        <td *ngIf="auth.isAuthenticated() && !route.signedUp"><button (click)="signUpForRoute(route.id)" class="btn btn-success">Sign up</button></td>
        <td *ngIf="!auth.isAuthenticated()"><div class="container alert alert-warning">Login to sign up for route</div></td>
        <td *ngIf="auth.isAuthenticated() && route.signedUp"><div class="container alert alert-warning">Already signed up</div></td>
      </tr>
    </tbody>
  </table>
  <br><br>
</div>
