<h1> My runs </h1>
<div class="container alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="container">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Starttime</th>
        <th>Endtime</th>
        <th>Run</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let run of runs">
        <td>{{run.route.title}}</td>
        <td>{{run.startTime | date:'medium'}}</td>
        <td>{{run.endTime | date:'medium'}}</td>
        <td *ngIf="run.route.status === 'started' && run.startTime===null"><button (click)="startRun(run.id)" class="btn btn-success">Start run</button></td>
        <td *ngIf="run.route.status != 'started' && run.startTime===null"><div class="container alert alert-warning">Route is not started yet</div></td>
        <td *ngIf="run.startTime && run.endTime===null"> <button (click)="continueRun(run.id)" class="btn btn-warning">Continue</button></td>
        <td *ngIf="run.startTime && run.endTime"> <button (click)="showResult(run.id)" class="btn btn-info">Show results</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br><br> <br><br> <br><br>
