<h1>Run</h1>
<div class="container alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="container">
  <b>Start time: </b> {{run.startTime | date:'medium'}}
</div>
<div>
  <div>
    <div style="display: block; width: 100%;">
      <canvas baseChart
              [datasets]="bubbleChartData"
              [options]="bubbleChartOptions"
              [colors]="bubbleChartColors"
              [legend]="bubbleChartLegend"
              [chartType]="bubbleChartType"></canvas>
    </div>
    <!--<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>-->
  </div>
</div>


<div class="container">

  <!--<div class="alert alert-warning" *ngIf="date.dirty && date.invalid">Enter valid date</div>
  <div class="alert alert-warning" *ngIf="title.dirty && title.invalid">Enter at least 5 characters in title</div>-->
  <form (ngSubmit)="!routeForm.invalid && submit()" #routeForm="ngForm">
    <div>
      <fieldset class="form-group">

        <div class="form-row">
          <div class="form-group col-md-2">
            <label><b>Current position:</b> </label> <br>
          </div>
          <div class="form-group col-md-2">
            <label for="inputLattitude">Lattitude(X)</label>
            <input id="inputLattitude" type="number" [(ngModel)]="currUserX"
                   class="form-control" name=waypointX{{index}} required="required"
                   min="0.1">
          </div>
          <div class="form-group col-md-2">
            <label for="inputLongitude">Longitude(Y)</label>
            <input id="inputLongitude" type="number" [(ngModel)]="currUserY"
                   class="form-control" name=waypointY{{index}} required="required">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-success">Submit position</button>
      </div>
      <div class="form-group col-md-1">
        <button type="button" (click)="endRun()" class="btn btn-danger">End Run</button> <!--pop up window. Are you sure? https://medium.com/@robert.streidt/make-pop-up-windows-in-angular-without-breaking-a-sweat-7a5319199a7c-->
      </div>
    </div>
  </form>
</div>
