<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">

      RunBuddy

    </div>
    <ul class="navbar-nav">
      <li><a routerLink="/allroutes" class="nav-link">All routes</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/myroutes" class="nav-link">My routes</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/myruns" class="nav-link">My runs</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <!--
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      -->

      <li>
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/new']"
           class="nav-link" routerLinkActive="active">New user</a>
      </li>
      <li>
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']"
           class="nav-link" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']"
           class="nav-link" routerLinkActive="active">Welcome {{auth.currentUser.userName}}</a>
      </li>
    </ul>
  </nav>
</header>
