<h1>Route</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="date.dirty && date.invalid">Enter valid date</div>
  <div class="alert alert-warning" *ngIf="title.dirty && title.invalid">Enter at least 5 characters in title</div>
  <form (ngSubmit)="!routeForm.invalid && saveRoute()" #routeForm="ngForm">
    <fieldset class="form-group">
      <label><b>Title</b></label>
      <input type="text" [(ngModel)]="route.title" #title="ngModel"
             class="form-control" name="description" required="required" minlength="5">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Date</b></label>
      <input type="date" [ngModel]="route.date | date:'yyyy-MM-dd'" (ngModelChange)="route.date = $event"
             class="form-control" name="targetDate" required="required" #date="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <div class="form-group">
        <label><b>WayPoints</b></label>
        <br>
        <div *ngIf="route.wayPoints == null || this.route.wayPoints.length === 0 ">There is no waypoints added to this route.</div>
        <button type="button" class="btn btn-warning" (click)=addWayPoint()>Add a new waypoint</button>
      </div>
    </fieldset>



    <div *ngFor="let wayPoint of route.wayPoints; let index = index;">
      <fieldset class="form-group">

        <div class="form-row">
          <div class="form-group col-md-2">
            <label><b>Waypoint {{wayPoint.index}}:</b> </label> <br>
            <button class="btn btn-secondary" (click)=removeWayPoint(index)>Remove</button>
          </div>
          <div class="form-group col-md-2">
            <label for="inputLattitude">Lattitude(X)</label>
            <input id="inputLattitude" type="number" [(ngModel)]="route.wayPoints[index].x"
                   class="form-control" name=waypointX{{index}} required="required"
                   min="0.1">
          </div>
          <div class="form-group col-md-2">
            <label for="inputLongitude">Longitude(Y)</label>
            <input id="inputLongitude" type="number" [(ngModel)]="wayPoint.y"
                   class="form-control" name=waypointY{{index}} required="required">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      <div class="form-group col-md-1">
        <button type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
</form>
  <br><br>
</div>
