<h1>Route</h1>
<div class="container alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="container">
  <div class="alert alert-warning" *ngIf="date.dirty && date.invalid">Enter valid date</div>
  <div class="alert alert-warning" *ngIf="title.dirty && title.invalid">Enter at least 5 characters in title</div>
  <div class="alert alert-warning" *ngIf="streetName.dirty && streetName.invalid ||
       streetNumber.dirty && streetNumber.invalid ||
       city.dirty && city.invalid ||
       country.dirty && country.invalid ">Enter valid location</div>
  <form (ngSubmit)="!this.sumbited && !routeForm.invalid && saveRoute()" #routeForm="ngForm">
    <fieldset class="form-group">
      <label><b>Title</b></label>
      <input type="text" [(ngModel)]="route.title" #title="ngModel"
             class="form-control" name="title" required="required" minlength="5">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Date</b></label>
      <input type="date" [ngModel]="route.date | date:'yyyy-MM-dd'" (ngModelChange)="route.date = $event"
             class="form-control" name="targetDate" required="required" #date="ngModel">
    </fieldset>
    <h2> Location </h2>
    <fieldset class="form-group">
      <label><b>Street name</b></label>
      <input type="text" [(ngModel)]="route.location.streetName"
             class="form-control" name="streetName" required="required" #streetName="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Street number</b></label>
      <input type="text" [(ngModel)]="route.location.streetNumber"
             class="form-control" name="streetNumber" required="required" #streetNumber="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>City</b></label>
      <input type="text" [(ngModel)]="route.location.city"
             class="form-control" name="city" required="required" #city="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Country</b></label>
      <input type="text" [(ngModel)]="route.location.country"
             class="form-control" name="country" required="required" #country="ngModel">
    </fieldset>
    <h2> Advanced optional </h2>
    <fieldset class="form-group">
      <label><b>Distance</b></label>
      <div>Expected distance of the route measured in meters:</div>
      <input type="number" [(ngModel)]="route.distance"
             class="form-control" name="distance" #distance="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Duration</b></label>
      <div>Expected duration of the route measured in minutes:</div>
      <input type="number" [(ngModel)]="route.duration"
             class="form-control" name="duration" #duration="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Description</b></label>
      <div>A brief description of your route:</div>
      <input type="text" [(ngModel)]="route.description"
             class="form-control" name="description" #description="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Maximum participants</b></label>
      <div>Set the maximum number of participants:</div>
      <input type="text" [(ngModel)]="route.maxParticipants"
             class="form-control" name="maxParticipants" #maxParticipants="ngModel">
    </fieldset>
    <fieldset class="form-group">
      <label><b>Minimum participants</b></label>
      <div>Set the minimum number of participants:</div>
      <input type="text" [(ngModel)]="route.minParticipants"
             class="form-control" name="minParticipants" #minParticipants="ngModel">
    </fieldset>
    <fieldset class="form-group">
        <label><b>Status:</b></label>
        <div>Set the route's status. New routes are set to released by default:</div>
        <select type="text" [(ngModel)]="route.status"
        class="form-control" name="status" #status="ngModel">
          <option value="created">Created</option>
          <option value="released">Released</option>
          <option value="started">Started</option>
          <option value="finished">Finished</option>
        </select>  
    </fieldset>
    <h2> Waypoints </h2>
    <fieldset class="form-group">
      <div class="form-group">
        <br>
        <div *ngIf="route.wayPoints == null || this.route.wayPoints.length === 0 ">There is no waypoints added to this route.</div>
        <button type="button" class="btn btn-warning" (click)=addWayPoint()>Add a new waypoint</button>
      </div>
    </fieldset>

    <div *ngFor="let wayPoint of route.wayPoints; let index = index;">
      <fieldset class="form-group">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label><b>Waypoint {{wayPoint.index}}:</b> </label> <br>
              </div>
          <div class="form-group col-md-2">
            <label for="inputLattitude">Lattitude(X)</label>
            <input id="inputLattitude" type="number" [(ngModel)]="route.wayPoints[index].x"
                   class="form-control" name=waypointX{{index}} required="required"
                   min="0.1">
          </div>
          <div class="form-group col-md-2">
            <label for="inputLongitude">Longitude(Y)</label>
            <input id="inputLongitude" type="number" [(ngModel)]="wayPoint.y"
                   class="form-control" name=waypointY{{index}} required="required">
          </div>
          <div class="form-group col-md-2">
              <label><b>Action</b> </label> <br>
              <button class="btn btn-secondary" (click)=removeWayPoint(index)>Remove</button>
            </div>
        </div>
      </fieldset>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1">
        <button type="submit" [disabled]="routeForm.invalid" class="btn btn-success">Save</button>
      </div>
      <div class="form-group col-md-1">
        <button type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
  <br><br>
</div>
