<h1>Route</h1>
<div class="container">
  <fieldset class="form-group">
    <label>Title</label>
    <input type="text" [(ngModel)]="route.title" class="form-control" name="description" required="required">
  </fieldset>
  <fieldset class="form-group">
    <label>Date</label>
    <input type="date" [ngModel]="route.date | date:'yyyy-MM-dd'" (ngModelChange)="route.date = $event"
           class="form-control" name="targetDate" required="required">
  </fieldset>
  <button class="btn btn-success" (click)="saveRoute()">Save</button>

</div>
