<h1> My routes </h1>
<div class="alert alert-success" *ngIf="deletedMessage"> {{deletedMessage}} </div>
<div class="container alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="containter">
  <div class="row justify-content-end">
    <button (click)="createRoute()" class="btn btn-success">Create a new route</button>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let route of routes">
        <td *ngIf="route.status != 'deleted'">{{route.title}}</td>
        <td *ngIf="route.status != 'deleted'">{{route.date | date:'medium'}}</td>
        <td *ngIf="route.status != 'deleted'">{{route.status}}</td>
        <td *ngIf="route.status != 'deleted'"><button (click)="updateRoute(route.id)" class="btn btn-warning">Update</button></td>
        <td *ngIf="route.status != 'deleted'"><button (click)="deleteRoute(route.id, route)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <br><br>
</div>
