<h1> My routes </h1>
<div class="alert alert-success" *ngIf="deletedMessage"> {{deletedMessage}} </div>
<div class="containter">
  <div class="row justify-content-end">
    <button (click)="createRoute()" class="btn btn-success">Create a new route</button>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of routes">
        <td>{{route.title}}</td>
        <td>{{route.date | date:'medium'}}</td>
        <td><button (click)="updateRoute(route.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteRoute(route.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
