<div class="col-md-12">
        <h3>Add Location</h3>
</div>
<div class="col-md-12">
    <form [formGroup]="newLocationForm" (ngSubmit)="saveLocation(newLocationForm.value)" 
          autocomplete="off">
        <div class="form-group" [ngClass]="{'error': title?.invalid && title?.touched}">
            <label for="title"><strong>Title:</strong></label>
            <em *ngIf="title?.invalid && title?.touched && title?.errors.required">Required</em>
            <em *ngIf="title?.invalid && title?.touched && title?.errors.maxlength">Cannot exceed 80 characters</em>
            <em *ngIf="title?.invalid && title?.touched && title?.errors.restrictedWords">Restricted words found: {{title.errors.restrictedWords}}</em>
            <input formControlName="title" id="title" type="text" class="form-control" placeholder="title..." />
        </div>
        <div class="row">
            <div class="col-md-2"><span><strong>Street:</strong></span></div>
            <div class="col-md-5" [ngClass]="{'error': streetName.invalid && streetName.touched}">
                <label for="streetName"><strong>name</strong></label>
                <em *ngIf="streetName.invalid && streetName.touched">Required</em>
                <input formControlName="streetName" id="streetName" type="text" class="form-control" placeholder="street name..." />
            </div><!-- form-group -->
            <div class="col-md-5" [ngClass]="{'error': streetNumber.invalid && streetNumber.touched}">
                <label for="streetNumber"><strong>number</strong></label>
                <em *ngIf="streetNumber.invalid && streetNumber.touched">Required</em>
                <input formControlName="streetNumber" id="streetNumber" type="text" class="form-control" placeholder="street number..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" [ngClass]="{'error': city.invalid && city.touched}">
                <label for="city"><strong>City:</strong></label>
                <em *ngIf="city.invalid && city.touched">Required</em>
                <input formControlName="city" id="city" type="text" class="form-control" placeholder="city..." />
            </div>
            <div class="col-md-6" [ngClass]="{'error': country.invalid && country.touched}">
                <label for="country"><strong>Country:</strong></label>
                <em *ngIf="country.invalid && country.touched">Required</em>
                <input formControlName="country" id="country" type="text" class="form-control" placeholder="country..." />
            </div>
        </div><br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success" [disabled]="newLocationForm.invalid">Save Location</button>
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel Location</button>
            </div>
        </div>
    </form>
</div>