<h1>New User</h1>
<hr>
<div class="col-md-6">
  <form #newUserForm="ngForm" (ngSubmit)="saveUser(newUserForm.value)" autocomplete="off" novalidate>
    <div class="form-group" [ngClass]="{'error': newUserForm.controls.userName?.invalid && newUserForm.controls.userName?.touched}">
      <label for="userName">User Name:</label>
      <em *ngIf="newUserForm.controls.userName?.invalid && (newUserForm.controls.userName?.touched)">Required</em>
      <input (ngModel)="newUser.userName" name="userName" required id="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>

    <div class="form-group" [ngClass]="{'error': newUserForm.controls.email?.invalid && newUserForm.controls.email?.touched}">
      <label for="email">Email:</label>
      <em *ngIf="newUserForm.controls.email?.invalid && (newUserForm.controls.email?.touched)">Required</em>
      <input (ngModel)="newUser.email" name="email" required id="email" type="text" class="form-control" placeholder="Email..." />
    </div>

    <div class="form-group" [ngClass]="{'error': newUserForm.controls.password?.invalid && newUserForm.controls.password?.touched}">
      <label for="password">Password:</label>
      <em *ngIf="newUserForm.controls.password?.invalid && (newUserForm.controls.password?.touched)">Required</em>
      <input (ngModel)="newUser.password" name="password" required id="password" type="text" class="form-control" placeholder="Password..." />
    </div>

<!--    <div ngModelGroup="location">-->
        <hr>
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                <h3 style="margin:0">Locations:</h3>
              </div>
              <div class="col-md-6">
                  <button type="button" class="btn btn-warning" (click)="addLocation()">Add Location</button>
              </div>      
          </div><br>
          <add-user-location *ngIf="addMode" (saveNewLocation)="saveNewLocation($event)" 
                                             (cancelNewLocation)="cancelNewLocation()"></add-user-location><br>
          <location-list *ngIf="!addMode" (deleteLocation)="deleteLocation($event)" 
                                          [locations]="newUser?.locations"></location-list><br>
        </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <button *ngIf="!addMode" type="submit" [disabled]="newUserForm.invalid" class="btn btn-success">Save</button>
      </div>
      <div class="form-group col-md-1">
        <button *ngIf="!addMode" type="button"  class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <br>
    <!--<div *ngIf="loginInvalid" class="alert alert-danger">User name: {{userName}} is already taken.</div>-->
    <div *ngIf="loginInvalid" class="alert alert-danger">{{errorMsg}}</div>
  </form><br><br>
</div>