<div class="row" *ngFor="let location of locations">
    <div class="row">
        <div class="col-md-10" style="float: right">
            <div class="well">
                <span>Title: {{location.title}}</span>
                <span>Street Name: {{location.streetName}} </span>
                <span>Street Number: {{location.streetNumber}} </span>
                <span>City: {{location.city}} </span>
                <span>Country: {{location.country}} </span>
            </div>
        </div>
        <div class="col-md-2" style="float: left">
            <button type="button" class="btn btn-default" (click)="delete(location)">Delete</button>
        </div>
    </div>
</div>