<div>
    <h1>Edit Your Profile    <button *ngIf="!addMode" type="button" class="btn btn-info" style="float:right; margin: 10px;" (click)="logout()">Logout</button></h1>


    <hr>
    <div class="col-md-6">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" 
                    autocomplete="off" novalidate>
            <div class="from-group" [ngClass]="{'error': !validateUserName() }">
                <label for="userName">User Name:</label>
                <em *ngIf="!validateUserName() && profileForm.controls.userName.errors.required">Required</em>
                <em *ngIf="!validateUserName() && profileForm.controls.userName.errors.pattern">Must start with a letter</em>
                <input formControlName="userName" id="userName" type="text" class="form-control" placeholder="User Name..."/>
            </div>
            <div class="from-group" [ngClass]="{'error': !validateEmail() }">
                <label for="email">Email:</label>
                <em *ngIf="!validateEmail()">Required</em>
                <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email..."/>
            </div>
            <div class="from-group" [ngClass]="{'error': !validatePassword() }">
                    <label for="password">Password:</label>
                    <em *ngIf="!validatePassword()">Required</em>
                    <input formControlName="password" id="passwordOnEditUser" type="password" class="form-control" placeholder="Password..."/>
            </div>
            <div class="from-group">
                <label for="passwordToggleLabel" style="display: inline-block; padding-right: 10px; white-space: nowrap;">
                    <input password-toggle="passwordOnEditUser" type="checkbox" id="togglePasswordBtn" style="float: left; margin: 10px;"/><span>show password</span>
                </label>        
            </div>

            <hr>
            <div class="container">
              <div class="row">
                  <div class="col-md-6">
                    <h3 style="margin:0">Locations</h3>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-warning" (click)="addLocation()">Add Location</button>
                  </div>      
              </div>
              <add-user-location *ngIf="addMode" (saveNewLocation)="saveNewLocation($event)" 
                                                 (cancelNewLocation)="cancelNewLocation()"></add-user-location><br>
              <location-list *ngIf="!addMode" (deleteLocation)="deleteLocation($event)" 
                                              [locations]="user?.locations"></location-list>
            </div>
            <!--
            <hr>
            <location-list (deleteLocation)="deleteLocation($event)"  [locations]="user?.locations"></location-list>
            -->
            <div class="form-row">
                <div class="form-group col-md-2">
                    <button *ngIf="!addMode" type="submit" class="btn btn-success">Save</button>
                </div>
                <div class="form-group col-md-1">
                    <button *ngIf="!addMode" type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form><br><br><br><br><br><br><br><br>
    </div>
</div>
